body{
    background: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 90vh;
    font-size: 40px;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}